/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark gray text color */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333; /* Dark gray background for header */
    color: #fff; /* White text color */
    padding: 10px 0;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav a {
    color: #fff; /* White text color for navigation links */
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

/* About Hero Section */
.about-hero {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text color */
    padding: 50px 0;
    text-align: center;
}

.about-hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 1.5rem;
}

/* About Content Section */
.about-content {
    padding: 50px 0;
    text-align: center;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333; /* Dark gray background for footer */
    color: #fff; /* White text color */
    padding: 20px 0;
    text-align: center;
}

/* Social media icons */
.social-icons {
    position: fixed;
    left: 20px;
    top: 20%;
    display: flex;
    flex-direction: column;
}

.social-icons a {
    display: block;
    margin-bottom: 10px;
    color: #007bff; /* Blue color for icons */
    font-size: 1.5rem;
}

/* Responsive design */
@media (max-width: 768px) {
    header .logo {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    header nav {
        float: none;
        text-align: center;
    }

    header nav a {
        display: block;
        margin: 5px 0;
        padding: 5px;
    }
}
