/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 1rem;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.company-name a {
    color: green;
    text-decoration: none;
}

nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .text-on-bar {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px; /* Adjust this value to place it right below the navigation bar */
    left: 10px;
    z-index: 1000;
}

.social-icons a {
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    margin-top: 2rem;
}

.footer-info {
    margin-bottom: 1rem;
}

.footer-info p {
    margin-bottom: 0.5rem;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    nav .text-on-bar {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    .social-icons {
        left: 5px;
    }
}
